* {
    margin: 5;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    margin-bottom: 20px;
}



h1 {
    background-color: #7F00FF;
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
}

/*Search Section*/
#search-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

#search-field {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Search Button */
#search-btn {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #c9302c;
}
/*search title*/
.search-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Result Section */
#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.result-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/* Container for the result section */
#result-section {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    text-align: left;
}

/* Result Text */
#result h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
}

#result h4 {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

#result p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}



/* List Style */
#result ul {
    list-style-type: disc;
    padding-left: 20px;
}

#result ul li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}